<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 offset-md-2">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトECサイトになります。</p>
      <p>会員でない方も商品の閲覧ができますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
    <div class="offset-md-2 col-md-10">
      <h4>新着商品</h4>
    </div>
    <div class="offset-md-2"></div>
    <% @items.first(4).each do |item| %>
    <div class="col-md-2">
      <%= attachment_image_tag item, :image, size:"50x50", fallback: "no_image.jpg" %>
      <p><%= item.name %></p>
      <p>¥<%= item.price %></p>
    </div>
    <% end %>
    <div class="offset-md-8"></div>
     <div class="col-md-4">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
  </div>
</div>